/*------------- Especificaciones generales ----------------*/

:root{
    --clr-background:rgb(85, 157, 133);
    --clr-secondary: rgb(243, 255, 240);
    --clr-font:rgb(52, 52, 52);
    --main-title:50px;

}

body{
    background:var(--clr-background);
    color: var(--clr-font);
    font-size: 18px;
    font-family: 'Slackey', cursive;
    margin: 0;
    padding: 0;
}

.tituloNav{
    text-decoration: none;
    color: var(--clr-font);
    padding: 0.8em;
    
}

:hover.tituloNav{
    color: var(--clr-background);
}



/*------------Pág: inicio.html------------*/


.contenedor-main{
    background:var(--clr-background);
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-section{
    background-color: var(--clr-secondary);

    text-align: center;
    
    padding: 2rem;

    border-radius: 0.5rem;
    border:1px solid var(--clr-font) ;

    box-shadow: 5px 5px 18px;
}

.InicioBoton{
    text-decoration: none;

    color: var(--clr-secondary);
    background-color: rgb(44, 44, 44);

    display: flex;
    flex-direction: column;

    padding: 0.5rem;
    border-radius: 0.5rem;
}

:hover.InicioBoton{
    color: rgb(224, 0, 0);
    font-size: 1.2rem;
    box-shadow: 2px 2px 30px;
}


/*------------Pág: sessionUsuario.html------------*/

#usuario-container{
    background:var(--clr-background);
    min-height: 90vh;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
    


.product-card {
  margin: 1rem;  
  box-shadow: 5px 5px 10px;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 2rem;
    border-radius: 15px;
}

:hover.product-card{
    box-shadow: 5px 5px 40px;
}

.product-card h2 {
    margin-top: 0.5em;
    padding:1rem ;

    text-align: center;
    font-size: 1.2em;

    border: 1px solid;
    border-radius: 15px;
  
}

.product-card img {
    width: 200px;
    height: 200px;
    padding:1rem;
    border-radius: 20px;
}

.product-card p {
    text-align: center;
    margin: 0;
}








/*------------Pág: index.html------------*/

.mainTitle{
    font-size: var(--main-title);
    text-align: center;
    margin-top: 1em;
}

.productoTabla{
    border: 1px solid var(--clr-secondary);
}


.table-responsive{
    margin-bottom: 5em;
}




































/*---------------FOOTER----------------*/

Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(224, 0, 0);
    color: white;
    text-align: center;
}



